.container-wrapper {
  display: flex;
  height: 100vh; 
  overflow-y: hidden;
  overflow-x: hidden;
}

.container-left {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.container-left .container-top {
  flex: 30; 
  max-height: 30vh; 
  height: 100px; 

}
.tips-slider {
  position: relative;
  text-align: center;
  color: white;
  font-size: 2vh;
  margin:0px;
  bottom:20vh
}
.container-left .container-bottom {
  flex: 70; 
  max-height: 60vh; 
}

.todolist-container{
  position: relative;
  bottom:25vh;

}
.todolist-title {
  position: relative;
  text-align: center;
  color: white;
  font-size: 4vh;
  margin-top: 0;
  margin-bottom: 10px;
  top: 10vh;
  transform: translateY(-50%); /* Centramos verticalmente usando transformaciones */
  font-weight: bold;

}

.container-right {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.container-right .container-top {
  flex: 50; 
  max-height: 50vh; 
  position:relative;
  top:15vh;
  left:  30vh ;

}

.container-right .container-bottom {
  flex: 50; 
  max-height: 50vh; 
  overflow-y: scroll;
  margin:0;
  padding:0;

}
.content {
  position:relative;
  bottom: 80px;
  zoom: 80%; 

}
