.container-wrapper {
  display: flex;
  height: 100vh; 
  overflow-y: hidden;
  overflow-x: hidden;
}

.container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}


.container-left .container-bottom {
  flex: 7; 
  max-height: 60vh; 
}

.tips-slider {
  flex: 1; 
  position: relative;
  text-align: center;
  color: white;
  font-size: 2vh;
  margin: 0px;
  top:13vh;
}
.todolist-title {
  position: relative;
  text-align: center;
  color: white;
  font-size: 5vh;
  margin-top: 0;
  margin-bottom: 10px;
  top: 15vh;
  transform: translateY(-50%);
  font-weight: bold;
}
.todolist-container {
  position: relative;
  bottom: 25vh;
}



.container-right {
  width: 50%;
  display: flex;
  flex-direction: column; 
  margin-right:0px;
  }

.container-top2 {
  height: 50%;
  display: flex; 
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  vertical-align: baseline;
  margin-left: 10px;
}

.notes-container {
  position:relative;
  height: 100%;
  width: 100%;
  top:100px;
  overflow-y: scroll;
  transform: scale(0.85); 
  background-color: white;
  zoom:75%;
  margin-bottom:10px;
}

.calendar-container {
  flex: 1;
  height: 50%;
  transform: scale(0.75); 
}

.container-bottom2 {
  overflow-y: scroll;
  bottom:100px;
  zoom:70%;
  margin-top:100px;
}