body {
  margin: 0;
  padding: 0;
  background-color: black;
}
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .goalmaster {
    color: gold;
  }
  
  .welcome-text {
    margin-bottom: 30px;
  }
  
  .cta-buttons {
    display: flex;
    justify-content: center;

  }
  .cta-buttons a {
    text-decoration: none;
  }
  .button-wrapper {
    margin: 5px;
  }
  
  .button-wrapper + .button-wrapper {
    margin-left: 10px; 
  }

  .login-button,
  .register-button {
    background-color: gold;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

  }
  
  .login-button:hover,
  .register-button:hover {
    background-color: #ffd700;
  }
  
  .goalmaster:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  @media screen and (max-width: 768px) {
    .welcome-text {
      font-size: 24px;
    }
  
    .login-button,
    .register-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  