.login-container {
  max-width: 500px; 
  margin: auto;
  padding: 40px; 
  background-color: #333; 
  border-radius: 10px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: gold;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffd700;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: white; 
}

.signup-link:link,
.signup-link:visited {
  color: gold;
}

.signup-link:hover {
  text-decoration: underline;
}





@media screen and (max-width: 768px) {
  .login-container {
    max-width: 90%;
  }
  
  .login-container h2 {
    font-size: 24px;
  }
  
  .form-group input {
    font-size: 14px;
    padding: 8px;
  }
  
  button {
    font-size: 14px;
    padding: 8px;
  }
}
