.todo-list-container {
  max-width: 500px;
  margin: 80px auto 0;
  background-color: #f0f0f0;
  border-radius: 8px;
  position: relative;
}

.task-list {
  display: flex;
  flex-direction: column;
  position: relative; 
  min-height: 65vh;
}

.agenda {
  max-height: 400px; 
  overflow-y: auto; 
  margin-bottom: 60px;

}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}


.task-form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-form input {
  flex: 70%; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-form button {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  flex: 30%; 
} 

.description {
  flex-grow: 1;
  margin-right: 10px;
}

.complete-button,
.delete-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.complete-button {
  background-color: rgb(196, 196, 196);
  color: white;
}

.complete-button.completed {
  background-color: gold;
}

.delete-button {
  background-color: transparent; 
  color: inherit; 
  margin: 0px 10px;
}
.delete-button.no-hover:hover {
  background-color: transparent; 
}
.buttons {
  display: flex;
}

